// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Regular font family

$sans-serif-stack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$monospace-stack: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

/// Paraiso Colors

$dark1: hsl(304, 22%, 15%);
$dark2: hsl(308, 13%, 23%);
$dark3: hsl(314, 9%, 28%);
$dark4: hsl(340, 4%, 45%);
$light4: hsl(351, 3%, 54%);
$light3: hsl(23, 4%, 62%);
$light2: hsl(40, 6%, 71%);
$light1: hsl(69, 25%, 89%);
$red: hsl(5, 83%, 64%);
$orange: hsl(35, 95%, 53%);
$yellow: rgb(254, 197, 27);
$green: hsl(153, 43%, 50%);
$lg-blue: hsl(177, 47%, 56%);
$blue: hsl(195, 95%, 48%);
$purple: hsl(271, 29%, 50%);
$pink: hsl(331, 74%, 67%);
$white: hsl(0, 0%, 100%);

/// Font sizes
$fs-h1:  4.2rem;
$fs-h2: 2.5rem;
$fs-text: 1.15rem;


///Design variables
$border-radius: 8px;
$transition: ease all 0.2s;
$box-shadow: 0 3px 5px change-color($dark1, $alpha: 0.28);
