// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/// Set base colors
$bg-color: $light1;
$text-color: $dark1;
$accent: $orange;


* {
  margin: 0;
  padding: 0;
  &:focus-visible {
    outline: 3px dotted $accent;
    outline-offset: 3px;
  }
  outline: 1px solid $orange;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: $bg-color;
  color: $text-color;
}

/**
 * Basic styles for links
 */
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $accent;
    text-decoration: underline;
    text-underline-offset: 6px;
    transition: $transition;
  }
}



#board {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  outline: 3px solid salmon;
}

#board > button {
  font-size: 5rem;
  min-height: 8rem;
}