// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/// Set base colors
$bg-color: $dark1;
$text-color:$light1;
$color-x: $lg-blue;
$color-o: $orange;
$accent: $white;
$board-width: min(80vmin, 27rem);

/// Set base button colors
// $button-bg-color: $dark3;
$button-bg-color: change-color($color: $dark3, $lightness: 30%);
$button-text-color: $white;



* {
  margin: 0;
  padding: 0;

  &:focus-visible {
    outline: 2px dotted $accent;
    outline-offset: 2px;
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: $sans-serif-stack;
  background-color: $bg-color;
  color: $text-color;
}

/**
 * Basic styles for links
 */
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $accent;
    text-decoration: underline;
    text-underline-offset: 6px;
    transition: $transition;
  }
}