// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/// Set base colors
$bg-color: #fff;
$text-color: #000;
$accent: green;


* {
  margin: 0;
  padding: 0;

  &:focus-visible {
    outline: 3px dotted $accent;
    outline-offset: 3px;
  }

  outline: 1px solid blue;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  background-color: $bg-color;
  color: $text-color;
}

/**
 * Basic styles for links
 */
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $accent;
    text-decoration: underline;
    text-underline-offset: 6px;
    transition: $transition;
  }
}

.board {
  $width: min(85vmin, 42rem);
  width: $width;
  height: $width;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.color-x {
  color: maroon;
}

.color-o {
  color: purple;
}

.winning-array {
  background-color: red;
  color: #fff;
}