// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/* bitter-regular - latin */


/* 
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/bitter-v32-latin-ext_latin-regular.woff2') format('woff2'),
        url('../fonts/bitter-v32-latin-ext_latin-regular.woff') format('woff');
    font-display: swap;
} */