// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/// Set base button colors
$button-bg-color: transparent;
$button-text-color: $light1;

button,
.btn {
  display: grid;
  place-items: center;
  min-height: 44px;
  padding: 0.1em 0.8em;
  text-transform: uppercase;
  border: 1px solid currentColor;
  border-radius: $border-radius;
  color: $button-text-color ;
  background-color: $button-bg-color;
  transition: $transition;
  cursor: pointer;

  &.cell {
    padding: unset;
    border: unset;
    background-color: $dark3;
    box-shadow: inset 0 -8px 0 $dark2;

    &:hover,
    &:focus {
      background-color: $dark4;
    }
  }

  &:hover,
  &:focus {
    background-color: $accent;
  }
}

.cell.winning-array {
  background-color: $accent;
  color: #fff;
} 