// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/// Set base button colors
$button-bg-color: transparent;
$button-text-color: $light1;

button, .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: $transition;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: $border-radius;
  cursor: pointer;
  &:not(.cell) {
    align-self: start;
    min-width: 10ch;
    min-height: 44px;
    padding: 0.1em 0.8em;
    border: 1px solid currentColor;

    background-color: $button-bg-color;
    color: $button-text-color;
    &:hover,
    &:focus {
      background-color: $accent;
      color: $button-text-color;
    }
  }
}

.cell {
  background-color: $dark2;
  font-weight: 700;
}


.color-x {
  color: $lg-blue;
}

.color-o {
  color: $yellow;
}

.winning-array {
  background-color: $accent;
  color: #fff;
}