// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/// Set base button colors
$button-bg-color: $dark2;
$button-text-color: $light1;

button,
.btn {
  display: grid;
  place-items: center;
  min-height: 44px;
  padding: 0.1em 0.8em;
  text-transform: uppercase;
  border: 1px solid change-color($color: $button-bg-color, $lightness: 30%);
  border-radius: $border-radius;
  color: $button-text-color ;
  background-color: $button-bg-color;
  transition: $transition;
  box-shadow: inset 0 -0.3em 0 change-color($color: $button-bg-color, $lightness: 30%);
  cursor: pointer;

  &.cell {
    padding: unset;
    border: unset;
    background-color: $dark2;
    box-shadow: inset 0 -0.2em 0 change-color($color: $button-bg-color, $lightness: 30%);
    &:hover,
    &:focus {
      $button-bg-color: $dark4;
      background-color: $button-bg-color;
      box-shadow: inset 0 -0.2em 0 change-color($color: $button-bg-color, $lightness: 30%);
    }
  }

  &:hover,
  &:focus {
    $button-bg-color: $dark3;
    background-color: $button-bg-color;
    box-shadow: inset 0 -0.3em 0 change-color($color: $button-bg-color, $lightness: 40%);
  }
}

.cell.winning-array {
  outline: 3px solid currentColor;
} 