dialog {
    margin: auto;
    background-color: $bg-color;
    color: $text-color;
    border-radius: $border-radius;
    transition: $transition;
}

.dialog-body {
    display: grid;
    gap: 0.8rem;
    margin: auto;
    padding: 1.5rem;
}

dialog::backdrop {
    background: change-color($dark4, $alpha: 0.5);
}