dialog {
    margin: auto;
    min-width: 100%;
    text-align: center;
    background-color: $bg-color;
    color: $text-color;
    border: none;
    transition: $transition;
    opacity: 0.95;
}

.dialog-body {
    display: grid;
    place-items: center;
    gap: 0.8rem;
    margin: auto;
    padding: 2.5rem;

    &>button {
        min-width: 10ch;
    }
}

dialog::backdrop {
    background: change-color($dark4, $alpha: 0.5);
}