form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}



input[type="text"] {
    width: 100%;
}

fieldset {
    grid-column: 1 /-1;
    text-align: right;
    border: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
}

input[type="radio"]:focus { /*gets outline with label*/
    outline: none;
}

input[type="radio"]:checked + label {
    background-color: yellow;
}

form > button {
    grid-column: 1 /-1;
}
