form {
    display: grid;
    gap: 1.3rem;

    @media(min-width: 48rem) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

form > * {
    padding: 1rem;
    background-color: $dark2;
    border-radius: $border-radius;
    &:first-child {
        box-shadow: inset 0.1rem 0px 0px 0px $color-x;
    }
    &:nth-child(2) {
        box-shadow: inset 0.1rem 0px 0px 0px $color-o;
    }
}

form > button {
    @media(min-width: 48rem) {
        grid-column: span 2;
    }
}

fieldset {
    display: grid;
    gap: 0.8rem;
    margin-top: 2rem;
    border: none;
}

input[type="text"] {
    width: 100%;
    height: 2.25em;
    margin-top: 0.8rem;
    padding: 0.25em 0.5em;
    line-height: 1;
    color: #000;
    background-color: $light2;
    border: 2px solid $light3;
    border-radius: calc($border-radius / 2);
}

input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;
}

input[type="radio"]:focus { /*gets outline with label*/
    outline: none;
}

input[type="radio"]:focus + label {
    outline: 2px dotted $color-o;
    outline-offset: 2px;
}

input[type="radio"]:checked + label {
    $button-bg-color: $color-o;
    background-color: $button-bg-color;
    color: #000;
    box-shadow: inset 0 -0.3em 0 change-color($color: $button-bg-color, $lightness: 40%);
}

form > button {
    grid-column: 1 /-1;
    min-height: 2.5em;
    box-shadow: inset 0 -0.2em 0 change-color($color: $button-bg-color, $lightness: 40%);
}
