/*
* Andy Bell's Modern CSS Reset modified my Stephanie Eckless
* @link https://github.com/5t3ph/html-sass-jumpstart/blob/main/src/sass/_reset.scss
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html {
    scroll-behavior: initial;
  }
}
* {
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline: 2px dotted hsl(0, 0%, 100%);
  outline-offset: 2px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Raleway", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: hsl(304, 22%, 15%);
  color: hsl(69, 25%, 89%);
}

/**
 * Basic styles for links
 */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: hsl(0, 0%, 100%);
  text-decoration: underline;
  text-underline-offset: 6px;
  transition: ease all 0.1s;
}

/* raleway-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin_latin-ext-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fredoka-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fredoka-v9-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/fredoka-v9-latin_latin-ext-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fredoka-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fredoka-v9-latin_latin-ext-700.woff2") format("woff2"), url("../fonts/fredoka-v9-latin_latin-ext-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/**
 * Basic typography style for copy text
 */
h1, .h1 {
  font-size: 4.2rem;
  font-size: min(max(3rem, 5vw), 4.2rem);
  font-family: "Fredoka", "Raleway", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-align: center;
}

h2, .h2 {
  font-size: 2.4rem;
  font-size: min(max(1.4rem, 5vw), 2.4rem);
  font-family: "Fredoka", "Raleway", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0.8em;
  font-weight: 400;
  text-align: center;
}

p {
  text-align: center;
}

.lead {
  font-size: 1.15rem;
}

.display-player-name {
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-thickness: 12px;
  text-underline-offset: -6px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.display-player-name:first-child {
  text-decoration-color: rgba(90, 196, 190, 0.4);
}
.display-player-name:last-child {
  text-decoration-color: rgba(249, 154, 21, 0.4);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.wrapper {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.banner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
  gap: 1rem;
}

.color-x {
  color: hsl(177, 47%, 56%);
}

.color-o {
  color: hsl(35, 95%, 53%);
}

header {
  padding: 1.5em 0;
  text-align: center;
}

main {
  width: min(100%, 120ch);
  margin: 0 auto;
  padding: 2vh 1rem;
}

footer {
  padding: 0.5rem 0;
  text-align: center;
}

form {
  display: grid;
  gap: 1.3rem;
}
@media (min-width: 48rem) {
  form {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

form > * {
  padding: 1rem;
  background-color: hsl(308, 13%, 23%);
  border-radius: 8px;
}
form > *:first-child {
  box-shadow: inset 0.1rem 0px 0px 0px hsl(177, 47%, 56%);
}
form > *:nth-child(2) {
  box-shadow: inset 0.1rem 0px 0px 0px hsl(35, 95%, 53%);
}

fieldset {
  display: grid;
  gap: 0.8rem;
  margin-top: 2rem;
  border: none;
}

input[type=text] {
  width: 100%;
  height: 2.25em;
  margin-top: 0.8rem;
  padding: 0.25em 0.5em;
  line-height: 1;
  color: #000;
  background-color: hsl(40, 6%, 71%);
  border: 2px solid hsl(23, 4%, 62%);
  border-radius: 4px;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  margin: 0;
}

input[type=radio]:focus { /*gets outline with label*/
  outline: none;
}

input[type=radio]:focus + label {
  outline: 2px dotted hsl(35, 95%, 53%);
  outline-offset: 2px;
}

input[type=radio]:checked + label {
  background-color: hsl(35, 95%, 53%);
  color: #000;
  box-shadow: inset 0 -0.3em 0 #c77605;
}

form > button {
  min-height: 2.5em;
  box-shadow: inset 0 -0.2em 0 #6f5d6b;
}
@media (min-width: 48rem) {
  form > button {
    grid-column: span 2;
  }
}

.board {
  width: min(80vmin, 27rem);
  height: min(80vmin, 27rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1vmax;
  gap: 1vmax;
}

button,
.btn {
  display: grid;
  place-items: center;
  min-height: 44px;
  padding: 0.1em 0.8em;
  text-transform: uppercase;
  border: 1px solid #534650;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  background-color: #534650;
  transition: ease all 0.1s;
  box-shadow: inset 0 -0.3em 0 #6f5d6b;
  cursor: pointer;
}
button:hover, button:focus,
.btn:hover,
.btn:focus {
  background-color: #7d6878;
  box-shadow: inset 0 -0.3em 0 #a2909e;
}
button.cell,
.btn.cell {
  padding: unset;
  border: unset;
  background-color: hsl(314, 9%, 28%);
  box-shadow: inset 0 -0.2em 0 #534650;
}
button.cell:hover, button.cell:focus,
.btn.cell:hover,
.btn.cell:focus {
  background-color: #61515e;
  box-shadow: inset 0 -0.2em 0 #7d6878;
}

.cell.winning-array {
  outline: 3px solid currentColor;
  box-shadow: none;
}

dialog {
  margin: auto;
  min-width: 100%;
  text-align: center;
  background-color: hsl(304, 22%, 15%);
  color: hsl(69, 25%, 89%);
  border: none;
  transition: ease all 0.1s;
  opacity: 0.95;
}

.dialog-body {
  display: grid;
  place-items: center;
  gap: 0.8rem;
  margin: auto;
  padding: 2.5rem;
}
.dialog-body > button {
  min-width: 10ch;
}

dialog::backdrop {
  background: rgba(119, 110, 113, 0.5);
}/*# sourceMappingURL=main.css.map */